apiVersion: v1
kind: Service
metadata:
  name: go-server
  namespace: production
spec:
  type: {{ .Values.service.type }}
  selector:
    app: go-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080




# apiVersion: v1
# kind: Service
# metadata:
#   name: go-server
# spec:
#   selector:
#     app: go-server
#   ports:
#     - protocol: TCP
#       port: 8080
#       targetPort: 8080 # Match the port where your Go application is running
