## .github/workflows/gitops.yaml
name: GitOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and Push the image
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: dpentim78/go-server:${{ github.sha }}, dpentim78/go-server:latest

    - name: Update Helm chart
      run: |
        sed -i 's|tag: .*|tag: ${{ github.sha }}|' chart/values.yaml

    - name: Commit and push changes
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add chart/values.yaml
        git commit -m "Update image tag to ${{ github.sha }}"
        git push origin main
